.video-from-production-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.video-from-production-title-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.video-from-production-title-wrap h3{
    font-size: 34px;
    margin: 0 0 20px 0;
}
.video-from-production-titles-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
}
.video-from-production-title-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 16%;
    max-width: 16.66%;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 20px;
}
.video-from-production-title-item a {
    display: flex;
    border-radius: 10px;
    background-color: #00458B;
    color: white;
    min-height: 40px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
}
.video-from-production-title-item a:hover {
    border-radius: 10px;
    background-color: #3FD2C7;
    color: white;
    transition: all 0.4s;
}
.video-from-production-title-item a.selected {
    background-color: #3FD2C7;
}

.video-from-production-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}
.video-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    max-width: 600px;
    min-height: 420px;
}
.video-content-wrap video {
    max-width: 600px;
    overflow: hidden;
}
.video-content-controls-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: auto;
    justify-content: center;
}
.video-content-controls-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 200px;
    margin-top: auto;
    justify-content: space-between;
}
.text-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    max-width: 500px;
    padding: 20px;
    min-height: 400px;
    background-color: whitesmoke;
}
.video-content-controls-counter {
    display: flex;
    align-items: center;
}
.video-content-controls-btn-next {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../img/slide_arrow_right.svg');
}
.video-content-controls-btn-prev {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../img/slide_arrow_left.svg');
}