.contract-design-main-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.contract-design-text-row,
.contract-design-what-we-do-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.contract-design-text-row h2 {
    font-size: 32px;
    margin: 0;
}
.contract-design-text-wrap,
.contract-design-image-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 50%;
}
.contract-design-image-wrap img {
    max-width: 100%;
    width: 500px;
    border-radius: 10px;
}
.contract-design-advantage-items-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.contract-design-advantage-items-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contract-design-advantage-item-icon-wrap,
.contract-design-advantage-item-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 20%;
}
.contract-design-advantage-item-icon-wrap {
    padding: 0 10px;
}
.contract-design-advantage-item-icon-wrap img {
    max-width: 70px;
    filter: invert(13%) sepia(92%) saturate(3410%) hue-rotate(197deg) brightness(90%) contrast(104%);
}
.contract-design-advantage-item-description {
    max-width: 70%;
}
.contract-design-what-we-do,
.contract-design-what-you-get {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 40%;
    min-height: 500px;
    padding: 20px 40px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.contract-design-what-we-do-title-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.contract-design-what-we-do-text-wrap p {
    display: flex;
    align-items: center;
    line-height: 1.8;
    line-height: 1.8;
}
.contract-design-what-we-do-text-wrap p::before {
    content: url('../../img/contractDesign/check.svg');
    filter: invert(59%) sepia(14%) saturate(2147%) hue-rotate(127deg) brightness(96%) contrast(87%);
    margin-right: 40px;
    width: 20px;
    max-width: 20px;
}
.contract-design-what-we-do-text-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20%;
}
.design-fits-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.design-main-services-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.design-main-services-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 32%;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
.design-main-services-item:nth-child(3n) {
    margin: 0;
}
.design-main-services-item-img-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.design-main-services-item-img-wrap img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    filter: grayscale(75%);
}
.design-main-services-item-img-wrap img:hover {
    filter: none;
    transition: all ease-in-out 0.3s;
}
.design-main-services-item-title-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-height: 40px;
    position: absolute;
    z-index: 5;
    bottom: 0;
    background-color: darkgray;
    border-radius: 0 0 10px 10px;
}
.design-main-services-item:hover .design-main-services-item-title-wrap {
    transition: all ease-in-out 0.3s;
    background-color: #3FD2C7;
}
.design-main-services-item:hover .design-main-services-item-img-wrap img {
    filter: none;
    transition: all ease-in-out 0.3s;
}
.design-main-services-item-title-wrap h3 {
    font-size: 22px;
    text-align: center;
    color: white;
    margin: 0;
}
.design-main-services-order-btn-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 45%;
    z-index: 5;
}
.design-main-services-order-btn-wrap.active {
    animation-duration: 0.5s;
    animation-name: grow;
}
.design-main-services-order-btn-wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 28px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    min-height: 18px;
    border-radius: 5px;
}
.design-fits-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.design-fits-text-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    max-width: 800px;
}
.design-portfolio-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}
.design-portfolio-item-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    width: 100%;
    max-width: 22%;
    margin-bottom: 40px;
}
.design-portfolio-item-title-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.design-portfolio-item-title-wrap h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
}
.design-portfolio-item-wrap img {
    max-width: 100%;
    width: 270px;
    border-radius: 10px;
    filter: grayscale(75%);
}
.design-portfolio-item-wrap img:hover {
    transition: all ease-in-out 0.3s;
    filter: none;
}
.design-portfolio-item-wrap:nth-child(4n) {
    margin-right: 0;
}
.popup-design-service-background-wrap,
.contract-design-portfolio-background-popup-wrap {
    background-color: rgba(0, 0, 0, .8);
    min-height: 200vh;
    width: 100%;
    position: fixed;
    top: -50%;
    z-index: 5;
    animation: grow;
    animation-duration: 0.3s;
}
.contract-design-portfolio-background-popup-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contract-design-portfolio-popup-close-btn::before {
    content:  url('../../img/close_popup.svg');
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: 5%;
    top: 5%;
    z-index: 15;
}
.contract-design-portfolio-popup-close-btn:hover::before {
    content:  url('../../img/close_popup_hover.svg');
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: 5%;
    top: 5%;
    z-index: 15;
}
.contract-design-portfolio-popup-next-btn::before {
    content:  url('../../img/slide_arrow_left.svg');
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    left: -10%;
    top: 48%;
    z-index: 15;
}
.contract-design-portfolio-popup-prev-btn::before {
    content:  url('../../img/slide_arrow_right.svg');
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: -9%;
    top: 48%;
    z-index: 15;
}
.contract-design-portfolio-popup-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    max-width: 800px;
}
.contract-design-portfolio-workcase-body {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 90vh;
    max-width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
}
.contract-design-portfolio-workcase-img-big-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.contract-design-portfolio-workcase-text-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
}
.contract-design-portfolio-workcase-text-wrap p {
    margin: 10px;
}
.contract-design-portfolio-workcase-img-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.contract-design-portfolio-workcase-img-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}
.contract-design-portfolio-workcase-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.contract-design-portfolio-workcase-img-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 48%;
    margin-bottom: 5px;
}
.contract-design-portfolio-workcase-img-item:nth-child(odd) {
    margin-right: 5px;
}
.contract-design-portfolio-workcase-img-item img  {
    max-height: 200px;
}
.contract-design-portfolio-popup-img-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.contract-design-portfolio-popup-img-wrap img {
    width: 800px;
    max-width: 100%;
    max-height: 800px;
}
.popup-design-service-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 400px;
    border: 1px solid #00458B;
    background-color: white;
    z-index: 6;
    border-radius: 10px;
    min-height: 450px;
    padding: 20px;
}
.popup-design-service-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.popup-design-service-body form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
}
.popup-design-service-input-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
.popup-design-service-checkbox-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.popup-design-service-body form label,
.design-fits-form-input-wrap label {
    color: #00458B;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    font-family: gothampro bold;
}
.popup-design-service-body form input {
    min-width: 250px;
    min-height: 30px;
    width: 100%;
    max-width: 280px;
}
.popup-design-service-order-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.popup-design-service-select-wrap select{
    min-height: 37px;
    max-width: 292px;
    min-width: 292px;
    border-color: #00458B;
    outline-color: #00458B;
}
.popup-design-service-order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    padding: 0 40px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    padding: 0 40px;
    outline: none;
    cursor: pointer;
}
.popup-design-service-order-btn:hover,
.design-main-services-order-btn-wrap a:hover {
    background-color: #00458B;
    transition: background .4s ease;
}
.popup-service-design-service-policy {
  display: none;
}
.popup-service-design-service-policy + label {
  position: relative;
  padding-left: 30px;
  height: 1.5em;
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
  user-select: none;
}
.popup-service-design-service-policy + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  background-image: url('../../img/form_checkbox.svg');
  background-size: contain;
}
.popup-service-design-service-policy:checked + label::before {
  border-color: #000;
  background-image: url('../../img/form_checkbox_checked.svg');
  background-size: contain;
}
.design-fits-form-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    align-items: flex-end;
}
.design-fits-form-wrap form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    min-height: 400px;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}
.design-fits-form-input-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 286px;
    margin-bottom: 10px;
}
.design-fits-form-input-wrap input {
    min-width: 250px;
    min-height: 30px;
    width: 100%;
    max-width: 300px;
}
.design-fits-form-input-wrap textarea {
    width: 300px;
    min-height: 80px;
}
.form-mode-for-clients-get-detail-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}