.articles-main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.articles-main-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
    max-width: 400px;
    border: 1px solid;
}

.inner-page-article-content-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
.inner-page-article-text-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    padding: 0 10px;
}
.inner-page-article-text-content.full {
    width: 100%;
}
.inner-page-article-content-wrap.left {
   flex-direction: row-reverse;
}
.inner-page-article-img-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
}
.inner-page-article-text-content p {
    margin: 0 0 10px 0;
    line-height: 2;
}
.inner-page-article-text-content h4 {
    font-family: gothampro bold;
    font-size: 20px;
}
.inner-page-article-text-content h1,
.inner-page-article-text-content h2,
.inner-page-article-text-content h3,
.inner-page-article-text-content h4,
.inner-page-article-text-content h5 {
    margin: 10px 0;
}
.article-table-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    margin-bottom: 40px;
}
.article-table-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 600px;
}
.article-table-content ul li,
.inner-page-article-text-content ul li,
.inner-page-article-text-content ol li {
    margin-bottom: 10px;
    line-height: 1.8;
}