.articles-main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}
.article-main-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
    max-width: 380px;
    min-height: 500px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    position: relative;
    animation: slideLeftArticle;
    animation-duration: 0.5s;
}
.article-main-item:hover {
    transform: scale(1.005);
    transition: all 0.3s ease-in-out;
}
.article-main-item:nth-child(3n) {
    margin-right: 0;
}
.article-min-item-img-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.article-min-item-img-wrap img {
    max-width: 100%;
    filter: brightness(0.7);
}
.article-main-item:hover img {
    filter: none;
    transition: all 0.3s ease-in-out;
}
.article-main-item-info-wrap {
    display: flex;
    flex-direction: column;
    width: 94.5%;
    padding: 20px;
}
.article-main-item-info-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 320px;
}
.article-main-item-info-content a {
    text-decoration: none;
}
.article-main-item-info-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    margin-top: auto;
}
.article-date,
.article-author {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}
.article-main-item-info-btn-wrap a:hover {
    color: white;
}
.article-main-item-info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    padding: 5px 10px;
    font-size: 14px;
    max-width: 150px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    min-height: 18px;
    border-radius: 2px;
}
.article-main-item-info-btn:hover,
.article-filter-item:hover,
.article-inner-form-send-btn:hover,
.inner-article-navbar-btn:hover {
    background-color: #00458B;
    transition: background .4s ease;
    color: white;
    max-width: 100%;
}
.article-main-item-info-content h3 {
    font-size: 24px;
    margin: 0 0 10px 0;
    line-height: 1.3;
}
.article-page-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.article-page-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 65%;
    padding: 0 20px;
}
.article-page-content article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: initial;
    margin-bottom: 40px;
    width: 100%;
}
.article-inner-form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    border-radius: 10px;
    padding: 40px;
    background-color: whitesmoke;
    width: 100%;
    justify-content: space-between;
}
.article-inner-form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}
.article-inner-form-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}
.article-inner-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.article-inner-form-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
.article-inner-form-input textarea {
    min-height: 100px;
}
.article-inner-form-wrap fieldset {
    border: 1px #00458B solid;
    margin: 0 0 10px 0;
}
.article-inner-form-contact-radio {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.article-inner-form-contact-radio input,
.article-inner-form-contact-radio label {
    cursor: pointer;
}
.article-inner-form-contact-radio label {
    margin-left: 5px;
}
.article-inner-form-input input {
    min-height: 30px;
    max-width: 250px;
}
.article-inner-form-input input[type='radio'] {
    margin-right: 10px;
    margin-bottom: 10px;
}
.article-inner-form-input label {
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: gothampro bold;
    color: #00458B;
}
.article-inner-form-send-btn-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.article-inner-form-send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    padding: 0 30px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.article-page-right-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    width: 25%;
}
.article-page-right-bar-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.other-article-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.other-article-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-height: 250px;
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.other-article-item-background-wrap {
    display: flex;
    flex-wrap: wrap;
    top: 0;
}
.other-article-item-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
	box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);
	padding: 0 10px;
	color: #FFFFFF;
}
.other-article-item-date {
    position: absolute;
    top: 0;
    right: 0%;
    color: #3FD2C7;
    width: 100%;
    max-width: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.other-article-item img {
    filter: brightness(0.7);
}
.other-article-item:hover img {
    filter: none;
    transition: all 0.3s ease-in-out;
}
.other-article-item-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 280px;
}
.inner-page-article-content-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}
.inner-page-article-text-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}
.inner-page-article-text-content.full {
    width: 100%;
}
.inner-page-article-content-wrap.left {
   flex-direction: row-reverse;
}
.inner-page-article-text-content h3 {
    max-width: 600px;
}
.inner-page-article-img-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
}
.inner-page-article-text-content p {
    margin: 0 0 10px 0;
    line-height: 2;
}
.inner-page-article-text-content h4 {
    font-family: gothampro bold;
    font-size: 20px;
    color: #1E1E1E;
}
.inner-page-article-text-content h1,
.inner-page-article-text-content h2,
.inner-page-article-text-content h3,
.inner-page-article-text-content h4,
.inner-page-article-text-content h5 {
    margin: 10px 0;
}
.article-table-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    max-width: 900px;
}
.article-table-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 600px;
}
.article-table-content ul li::marker,
.inner-page-article-text-content ul li::marker {
    color: #3FD2C7;
    font-size: 20px;
}
.inner-page-article-text-content ol li::marker {
    font-weight: bold;
}
.article-table-content ul li,
.inner-page-article-text-content ul li,
.inner-page-article-text-content ol li {
    margin-bottom: 10px;
    line-height: 1.8;
}
.inner-page-article-banner-img-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px 0;
}
.inner-page-article-banner-img-wrap img {
    max-width: 100%;
    border-radius: 5px;
}
.articles-control-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.article-filters-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    max-width: 445px;
    margin-bottom: 20px;
}
.filter-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    min-width: 100px;
    max-width: 150px;
}
.filter-description h4 {
    font-size: 18px;
    margin: 0;
}
.article-filter-item,
.inner-article-navbar-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    width: 20%;
    max-width: 100px;
    color: white;
    background-color: #3FD2C7;
    border-radius: 10px;
    cursor: pointer;
}
.article-filter-item  span {
    width: 100%;
    text-align: center;
}
.article-filter-item.active {
    background-color: #00458B;
}
.article-info-header-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
}
.article-info-header-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    margin-bottom: 10px;
    width: 100%;
}
.article-info-icon {
    padding-right: 20px;
}
.inner-article-navbar-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 40px;
}
.inner-article-navbar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
}
.inner-article-navbar-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-bottom: 10px;
}
.inner-article-navbar-item .inner-article-navbar-btn {
    min-width: 140px;
    font-size: 14px;
    padding: 4px;
    text-decoration: none;
}
.inner-article-navbar-btn {
    background-color: gray;
}
.article-form-happy-state-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    left: 20%;
    top: 15%;
    position: absolute;
    z-index: 5;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
}
.article-form-happy-state-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.article-form-happy-state-message-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1350px) { 
    .article-main-item {
      width: 30%;
    }
}
@media (max-width: 1100px) { 
    .other-article-item{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        max-width: 250px;
        margin-right: 20px;
    }
}
@media (max-width: 1000px) { 
    .article-page-content {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1000px) { 
    .article-page-right-bar {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1000px) { 
    .other-article-row {
        justify-content: center;
        margin-bottom: 40px;
    }
}

@media (max-width: 1000px) { 
    .article-form-happy-state-popup-wrap {
        left: 10%;
    }
}
@media (max-width: 700px) { 
    .article-form-happy-state-popup-wrap {
        max-width: 450px;
        left: 5%;
    }
}
@media (max-width: 600px) { 
    .inner-article-navbar-wrap,
    .inner-article-navbar-row {
        justify-content: center;
        padding: 0;
    }
}
@media (max-width: 600px) { 
    .article-inner-form-content {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 600px) { 
    .article-inner-form-wrap {
        width: 100%;
    }
}
@media (max-width: 600px) { 
    .article-form-happy-state-popup-wrap {
        left: 5%;
        padding: 10px;
        max-width: 350px;
    }
}
@media (max-width: 500px) { 
    .article-form-happy-state-popup-wrap {
        max-width: 300px;
        left: 5%;
    }
}


@keyframes slideLeftArticle {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
}

