.custom-tms-main-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.custom-tm-main-item-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 40px;
}
.custom-tm-item-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    position: relative;
}
.custom-tm-item-stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 35%;
    max-width: 330px;
}
.custom-tm-item-logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;
}
.custom-tm-item-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.custom-tm-item-logo img {
    max-width: 200px;
}
.custom-tm-item-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
}
.custom-tm-item-promo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.custom-tm-item-promo-row a {
    padding-left: 5px;
}
.custom-tm-more-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.custom-tm-more-btn {
    position: relative;
    text-decoration: none;
}
.custom-tm-more-btn::after {
    content: url('../../img/moreInfo.svg');
    width: 20px;
    top: -7px;
    position: absolute;
    filter: invert(14%) sepia(84%) saturate(3269%) hue-rotate(199deg) brightness(93%) contrast(101%);
}
.custom-tm-more-btn:hover::after {
    transition: all ease-in-out 0.3s;
    filter: invert(78%) sepia(58%) saturate(502%) hue-rotate(115deg) brightness(88%) contrast(85%);
}
.custom-tm-more-btn:hover {
    color: #3FD2C7;
     transition: all ease-in-out 0.3s;
}
.custom-tm-more-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.custom-tm-gallery-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.custom-tm-galley-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.custom-tm-galley-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18%;
    max-width: 130px;
    min-height: 130px;
    margin-bottom: 20px;
}
.custom-tm-galley-item img {
    max-width: 132px;
    max-height: 132px;
    overflow: hidden;
    filter: grayscale();
    border-radius: 50%;
}
.custom-tm-galley-item img:hover {
    transition: 0.3s;
    filter: grayscale(0);
    border-color: red;
}
.custom-tm-video-wrap video {
    max-width: 100%;
}
.custom-tm-img-popup-background-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: black;
    z-index: 5;
    background-color:rgba(0, 0, 0, 0.9);
}
.custom-tm-img-popup-body-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    min-height: 693px;
    max-width: 1300px;
    min-width: 900px;
    max-height: 800px;
    background-color: white;
    border: 1px solid #00458B;
    z-index: 6;
    padding: 20px;
    border-radius: 10px;
    animation-duration: 0.3s;
    animation-name: grow;
}
.custom-tm-img-popup-close-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 6;
    width: 100%;
    min-height: 40px;
}
.custom-tm-img-popup-close-btn {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: 0;
    background-image: url('../../img/close_popup.svg');
}
.custom-tm-img-popup-close-btn:hover {
    background-image: url('../../img/close_popup_hover.svg');
}
.custom-tm-img-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}
.custom-tm-img-wrap img {
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
}
.custom-tm-img-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}
@media (max-width: 1300px) { 
    .custom-tm-galley-item {
        width: 33%;
        max-width: 33%;
        justify-content: flex-start;
    }
}
@media (max-width: 1300px) { 
    .custom-tm-galley-row {
        justify-content: flex-start;
    }
}

@media (max-width: 1100px) { 
    .custom-tm-main-item-row{
        max-width: 900px;
    }
}

@media (max-width: 1100px) { 
    .custom-tm-video-wrap video {
        max-width: 100%;
    }
}

@media (max-width: 990px) { 
    .custom-tm-main-item-row{
        max-width: 800px;
    }
}

@media (max-width: 990px) { 
    .custom-tm-img-popup-body-wrap {
        max-width: 800px;
        min-width: 700px;
    }
}

@media (max-width: 990px) { 
    .custom-tm-item-promo-row {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) { 
    .custom-tm-item-stats {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
        order: 1;
    }
}

@media (max-width: 800px) { 
    .custom-tm-img-popup-body-wrap {
        max-width: 700px;
        min-width: 600px;
    }
}

@media (max-width: 800px) { 
    .custom-tm-main-item-row {
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
    }
}
@media (max-width: 800px) { 
    .custom-tm-item-content-wrap {
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
        order: 2;
    }
}

@media (max-width: 800px) { 
    .custom-tm-main-item-row {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media (max-width: 800px) { 
    .custom-tm-item-logo-row {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 800px) { 
    .custom-tm-galley-item {
        width: 50%;
        max-width: 50%;
    }
}
@media (max-width: 750px) { 
    .custom-tm-img-popup-body-wrap {
        max-width: 600px;
        min-width: 500px;
    }
}
@media (max-width: 650px) { 
    .custom-tm-img-popup-body-wrap {
        max-width: 550px;
        min-width: 450px;
    }
}

