.quiz-mainpage-popup-background {
    background-color: rgba(0,0,0,.8);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 5;
    position: fixed;
    top: 0;

}
.quiz-mainpage-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
    max-width: 1024px;
    min-height: 400px;
    top: 0%;
    background-color: white;
    border: 1px solid #00458B;
    padding: 4px 0 0 4px;
    border-radius: 10px;
    animation-duration: 0.3s;
    animation-name: grow;
}
.quiz-mainpage-body-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    min-width: 1000px;
    min-height: 820px;
    justify-content: space-between;
}
.quiz-controlpanel-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    min-height: 600px;
    max-width: 20%;
    min-width: 220px;
    background-color: whitesmoke;
}
.quiz-controlpanel-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 220px;
    min-height: 70px;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.quiz-controlpanel-item-active {
    color: white;
    background-color: #3FD2C7;
}
.quiz-controlpanel-item-active::after {
    content: '';
    right: -20px; top: 25px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #3FD2C7;
    position: absolute;
}
.quiz-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 750px;
    max-width: 75%;
    min-width: 75%;
    padding: 20px 10px 20px 0;
    overflow: hidden;
    position: relative;
    right: 0;
}
.quiz-content-wrap label {
    font-size: 20px;
    
    font-weight: bold;
    font-family: gothampro bold;
}
.quiz-content-wrap fieldset label {
    font-weight: normal;
    font-size: 16px;
    font-family: centurygothic;
}
.step-main-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.quiz-mainpage-title-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.quiz-mainpage-title-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 80%;
}
.quiz-mainpage-title-wrap h2 {
    text-align: center;
    margin: 0;
    color: #00458B;
}
.quiz-mainpage-close-btn-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 10%;
    max-width: 100px;
    min-height: 30px;
}
.quiz-mainpage-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-width: 750px;
    justify-content: space-around;
}
.quiz-products-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.quiz-products-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
    max-width: 33%;
    min-height: 300px;
    min-width: 180px;
    width: 30%;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
}
.quiz-products-item:hover {
    border: 1px solid #3FD2C7;
    transition: border-color 0.5s ease; 
}
.quiz-product-selected-icon-wrap {
    position: absolute;
    top: 80%;
}
.quiz-product-selected-icon-wrap-active {
    position: absolute;
    top: 80%;
}
.quiz-product-decription-wrap,
.quiz-product-img-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    min-width: 180px;
    text-align: center;
    font-size: 16px;
}
.quiz-product-img-wrap img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.quiz-products-item h4 {
    margin: 0;
    padding: 0;
}
.next-step-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
}
.next-step-btn-wrap,
.prev-step-btn-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    justify-content: center;
}
.next-step-btn-wrap-hidden {
    display: none;
}
.step-counter-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 20%;
    padding: 0 10px;
    padding-right: 4%;
}
.next-step-btn,
.prev-step-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    max-width: 200px;
    height: 30px;
    padding: 0 40px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    padding: 0 40px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.prev-step-btn {
    width: 200px;
    background: none;
    color: #1E1E1E;
}
.next-step-btn::before {
    content:'\2192';
    position: absolute;
    font-size: 20px;
    top: -8%;
    right: 5%;
}
.prev-step-btn::before {
    content: '\2190';
    position: absolute;
    font-size: 20px;
    top: -8%;
    left: 5%;
}
.step-counter-value {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.quantity-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 737px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5% 0;
}
#quiz-qnt {
    margin: 0 10px;
    letter-spacing: 5px;
}
.quantity-title-wrap,
.quantity-value-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.quantity-title-wrap h3 {
    margin: 0;
}
.quantity-quiz-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.quantity-quiz-range-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 550px;
}
.quantity-value-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
.quantity-quiz-range {
    width: 100%;
    cursor: pointer;
    padding: 0;
    border: 0;
    accent-color: #00458B;
    cursor: ew-resize;
}
.quantity-quiz-range-hide {
    visibility: hidden;
}
.quantity-quiz-range:hover,
.quantity-quiz-range:focus {
    accent-color: #00458B;
}
.quantity-custom-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.qnt-apply-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.qnt-apply-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 200px;
    height: 25px;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.quiz-deadline-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}
.quiz-deadline-wrap h3 {
    margin: 0;
}
.quiz-deadline-radio-wrap fieldset {
    border: none;
}
.quiz-deadline-radio-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.quiz-deadline-radio-item input {
    width: 16px;
    margin-right: 10px;
}
.quiz-deadline-radio-item input,
.quiz-deadline-radio-item label {
    cursor: pointer;
}
.quiz-deadline-custom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-deadline-custom-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-deadline-custom-title-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.quiz-deadline-custom-title-wrap label {
    font-size: 18px;
    font-weight: bold;
    font-family: gothampro bold;
}
.quiz-deadline-custom-input-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-deadline-custom-input-wrap textarea {
    min-width: 300px;
}
.quiz-deadline-custom-input-wrap textarea,
.quiz-deadline-custom-input-wrap button {
    min-height: 40px;
    max-height: 40px;
}
.quiz-deadline-custom-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.quiz-deadline-custom-input-wrap button,
.quiz-package-custom-package-btn,
.quiz-advanced-settings-comment-btn-wrap button,
.quiz-advanced-settings-tz-btn-save,
.quiz-advanced-settings-delivery-custom-field-btn button,
.result-form-get-contacts-send-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 200px;
    height: 20px;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.quiz-package-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-package-items-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}
.quiz-package-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 30%;
    min-height: 225px;
    max-width: 33%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}
.quiz-package-item-img-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-package-item:hover {
    border-color: #3FD2C7;
}
.quiz-package-item-img-wrap img {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    z-index: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.quiz-package-item-title-wrap {
    width: 100%;
    flex-wrap: wrap;
    line-height: 1.2;
    font-size: 16px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 5%;
    padding: 5px 0;
    pointer-events: none;
}
.quiz-package-item-title-wrap h4 {
    margin: 0;
}
.quiz-package-item-size-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 5%;
}
.quiz-package-item-size-wrap select {
    width: 150px;
    cursor: pointer;
    text-align: center;
}
.item-size-selected {
    background-color: red;
    border-color: red;
}
.quiz-package-pages-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-package-pages-items {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.quiz-package-page-item {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}
.quiz-package-page-item button {
    cursor: pointer;
}
.quiz-package-page-item-slide-btn,
.quiz-package-page-item-slide-btn-active  {
    background-color: gray;
    border-radius: 10px;
    border:none;
    min-height: 8px;
    max-height: 8px;
    width: 70px;
}
.quiz-package-page-item-slide-btn-active {
    background-color: #00458B;
}
.quiz-package-page-item-slide-btn:hover {
    background-color: #00458B;
}
.quiz-package-custom-package-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.quiz-package-custom-input-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.quiz-package-custom-input-wrap textarea {
    width: 300px;
    margin-right: 20px;
}
.quiz-package-input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #3FD2C7;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.quiz-package-custom-input-wrap input[type=file]{
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: flex;
    width: 0;
    height: 0;
}
.quiz-package-custom-input-wrap .input-file {
    position: relative;
    display: inline-flex;
}
.quiz-package-custom-package-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
}
.quiz-package-custom-package-input-file-btn,
.quiz-advanced-settings-tz-input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #3FD2C7;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.quiz-package-custom-package-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.quiz-package-custom-package-btn {
    height: 40px;
}
.quiz-package-checkbox-wrap {
    bottom: 42%;
    left: 44%;
    right: 30%;
    max-width: 30px;
    position: absolute;
    pointer-events: none;
}
.quiz-package-custom-package-description-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
}
.quiz-advanced-settings-services-wrap,
.quiz-advanced-settings-budget-wrap,
.quiz-advanced-settings-delivery-wrap  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
.quiz-advanced-settings-delivery-wrap,
.quiz-advanced-settings-services-wrap fieldset,
.quiz-advanced-settings-budget-wrap fieldset,
.quiz-advanced-settings-delivery-wrap fieldset {
    border: none;
    padding: 0;
}
.quiz-advanced-settings-service-item-wrap input[type="radio"],
.quiz-advanced-settings-service-item-wrap label,
.quiz-advanced-settings-budget-item-wrap input[type="radio"],
.quiz-advanced-settings-budget-item-wrap label,
.quiz-advanced-settings-delivery-wrap label,
.quiz-advanced-settings-delivery-wrap input[type="radio"] {
    cursor: pointer;
}
.quiz-advanced-settings-buget-custom-range-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    margin-bottom: 10px;
}
.quiz-advanced-settings-buget-custom-range-value {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    letter-spacing: 5px;
    justify-content: center;
}
.quiz-advanced-settings-buget-custom-range {
    width: 100%;
    cursor: pointer;
    padding: 0;
    border: 0;
    accent-color: #00458B;
    cursor: ew-resize
}
.quiz-advanced-settings-tz-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.quiz-advanced-settings-budget-title,
.quiz-advanced-settings-services-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5px;
}
.quiz-advanced-settings-budget-title h3,
.quiz-advanced-settings-services-title h3,
.quiz-advanced-settings-comment-wrap h3 {
    margin: 0;
}
.quiz-advanced-settings-service-item-wrap,
.quiz-advanced-settings-budget-item-wrap,
.quiz-advanced-settings-delivery-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5px;
}
.quiz-advanced-settings-tz-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}
.quiz-advanced-settings-comment-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.quiz-advanced-settings-tz-btn-wrap input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: flex;
    width: 0;
    height: 0;
}
.quiz-advanced-settings-comment-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.quiz-advanced-settings-comment-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 440px;
}
.quiz-advanced-settings-comment-row textarea {
    min-width: 300px;
    min-height: 75px;
}
.quiz-advanced-settings-comment-btn-wrap button,
.quiz-advanced-settings-tz-btn-save,
.quiz-advanced-settings-delivery-custom-field-btn button,
.result-form-get-contacts-send-btn button {
    min-height: 30px;
}
.quiz-advanced-settings-tz-btn-wrap label{
    margin-right: 20px;
}
.quiz-advanced-settings-delivery-custom-field-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 10px;
}
.quiz-advanced-settings-delivery-custom-field-row h3 {
    margin: 0;
    margin-bottom: 5px;
}
.quiz-advanced-settings-delivery-custom-field-row input {
    min-height: 30px;
    max-height: 30px;
}
.quiz-advanced-settings-delivery-custom-field-btn {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.quiz-result-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-result-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
.quiz-result-title h3 {
    margin: 0;
}
.quiz-result-table-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-result-value-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-result-value-title {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.quiz-result-value {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
.result-get-contacts-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.result-form-get-contacts-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.result-form-get-contacts-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.result-form-get-contacts-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.result-form-contacts-item-input {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-right: 10px;
}
.result-form-contacts-item-input input {
    min-height: 30px;
}
.result-form-get-contacts-send-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.quiz-popup-fade-out {
    animation: quiz-fadeOut ease 8s;
    -webkit-animation: quiz-fadeOut ease 8s;
    -moz-animation: quiz-fadeOut ease 8s;
    -o-animation: quiz-fadeOut ease 8s;
    -ms-animation: quiz-fadeOut ease 8s;
}
.test1 {
    opacity: 0;
}
  
@keyframes quiz-fadeOut {
    0% {opacity:1;}
    100% {
        opacity:0;
    }
}
  