.quiz-mainpage-popup-background {
    background-color: rgba(0,0,0,.8);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 5;
    position: fixed;
    top: 0;

}
.quiz-mainpage-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
    max-width: 1024px;
    min-height: 400px;
    position: absolute;
    left: 20%;
    top: 0%;
    background-color: white;
    border: 1px solid #00458B;
    padding: 4px 0 0 4px;
    border-radius: 10px;
    animation-duration: 0.3s;
    animation-name: grow;
}
.quiz-mainpage-body-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    min-width: 1000px;
    justify-content: space-between;
}
.quiz-controlpanel-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    min-height: 600px;
    max-width: 20%;
    min-width: 220px;
    background-color: whitesmoke;
}
.quiz-controlpanel-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 220px;
    min-height: 70px;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.quiz-controlpanel-item-active {
    color: white;
    background-color: #3FD2C7;
}
.quiz-controlpanel-item-active::after {
    content: '';
    right: -20px; top: 25px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #3FD2C7;
    position: absolute;
}
.quiz-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 750px;
    max-height: 750px;
    max-width: 75%;
    min-width: 75%;
    padding: 20px 10px 20px 0;
    overflow: hidden;
    position: relative;
    right: 0;
}
.step-main-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.quiz-mainpage-title-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.quiz-mainpage-title-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 80%;
}
.quiz-mainpage-title-wrap h2 {
    text-align: center;
    margin: 0;
}
.quiz-mainpage-close-btn-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 10%;
    max-width: 100px;
    min-height: 30px;
}
.quiz-mainpage-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-width: 750px;
    justify-content: space-around;
}
.quiz-products-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.quiz-products-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
    max-width: 33%;
    min-height: 300px;
    min-width: 180px;
    width: 30%;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
}
.quiz-products-item:hover {
    border: 1px solid #3FD2C7;
    transition: border-color 0.5s ease; 
}
.quiz-product-selected-icon-wrap {
    position: absolute;
    top: 80%;
}
.quiz-product-selected-icon-wrap-active {
    position: absolute;
    top: 80%;
}
.quiz-product-decription-wrap,
.quiz-product-img-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    min-width: 180px;
    text-align: center;
    font-size: 18px;
}
.quiz-products-item h4 {
    margin: 0;
    padding: 0;
}
.next-step-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
}
.next-step-btn-wrap,
.prev-step-btn-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    justify-content: center;
}
.step-counter-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    padding: 0 10px;
}
.next-step-btn,
.prev-step-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    max-width: 200px;
    height: 30px;
    padding: 0 40px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    padding: 0 40px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.prev-step-btn {
    width: 200px;
    background: none;
    color: #1E1E1E;
}
.next-step-btn::before {
    content:'\2192';
    position: absolute;
    font-size: 20px;
    top: -5%;
    right: 5%;
}
.prev-step-btn::before {
    content: '\2190';
    position: absolute;
    font-size: 20px;
    top: -5%;
    left: 5%;
}
.step-counter-value {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.quantity-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 737px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5% 0;
}
#quiz-qnt {
    margin: 0 10px;
}
.quantity-title-wrap,
.quantity-value-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.quantity-title-wrap h3 {
    margin: 0;
}
.quantity-quiz-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.quantity-quiz-range-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 550px;
}
.quantity-value-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
.quantity-quiz-range {
    width: 100%;
    cursor: pointer;
    padding: 0;
    border: 0;
    accent-color: #00458B;
    cursor: ew-resize;
}
.quantity-quiz-range-hide {
    visibility: hidden;
}
.quantity-quiz-range:hover,
.quantity-quiz-range:focus {
    accent-color: #00458B;
}
.quantity-custom-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.qnt-apply-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.quiz-deadline-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}
.quiz-deadline-wrap h3 {
    margin: 0;
}
.quiz-deadline-radio-wrap fieldset {
    border: none;
}
.quiz-deadline-radio-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.quiz-deadline-radio-item input {
    width: 16px;
    margin-right: 10px;
}
.quiz-deadline-radio-item input,
.quiz-deadline-radio-item label {
    cursor: pointer;
}
.quiz-deadline-custom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-deadline-custom-input-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.quiz-deadline-custom-input-wrap textarea {
    min-width: 300px;
}
.quiz-deadline-custom-input-wrap textarea,
.quiz-deadline-custom-input-wrap button {
    min-height: 40px;
    max-height: 40px;
}
.quiz-deadline-custom-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.quiz-deadline-custom-input-wrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 200px;
    height: 20px;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}