.news-preview-main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 500px;
}
.news-preview-main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
}
.news-preview-main-asside-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
}
.news-preview-main-item-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    min-height: 300px;
    max-height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
}
.news-preview-main-item-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    max-width: 700px;
    padding: 20px;
}
.news-preview-main-item-content-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-height: 70px;
    overflow: hidden;
}
.news-preview-main-item-content-description p {
    margin: 0;
}
.news-preview-main-item-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
}
.news-preview-main-item-img img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 0 10px 10px 0;
}
.news-preview-show-more-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3FD2C7;
    color: white;
    border-radius: 10px;
    min-height: 40px;
    cursor: pointer;
}
.news-preview-show-more-wrap::after {
    content: '';
    position: absolute;
    bottom:-15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top:15px solid #3FD2C7;
}
.news-preview-show-more-wrap a {
    width: 100%;
    min-width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}
.news-preview-show-more-wrap:hover {
    background-color: #00458B;
    color: white;
    max-width: 100%;
}
.news-preview-show-more-wrap:hover::after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top:15px solid #00458B;
}
.news-company-social-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.news-company-social-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.news-company-social-item,
.news-company-currency-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}
.news-company-social-item img,
.news-company-currency-item img {
    margin-right: 10px;
}
.news-company-form-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.news-company-form-item-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}
.news-company-form label {
    color: #00458B;
    font-family: gothampro bold;
    font-size: 18px;
    cursor: pointer;
}
.news-company-form-item-wrap input {
    max-width: 200px;
    min-height: 25px;
}
.news-company-form-item-wrap textarea {
    min-height: 100px;
}
.news-company-form-send-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.news-company-form-send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 14px;
    max-width: 150px;
    width: 150px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    min-height: 14px;
    border-radius: 2px;
}
.news-company-form-send-btn:hover,
.news-article-popup-body-close-btn:hover {
    background-color: #00458B;
    transition: background .4s ease;
    color: white;
    max-width: 100%;
}
.news-company-currency-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.news-company-currency-wrap h3 {
    margin: 0;
}
.news-article-popup-background {
    background-color: rgba(0, 0, 0, .8);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
}
.news-article-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 75vw;
    min-height: 96vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    z-index: 5;
}
.news-article-popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    min-height: 600px;
    max-height: 800px;
    margin-top: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.news-article-banner-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.news-article-banner-wrap img {
    width: 800px;
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
}
.news-article-popup-text-block,
.article-news-text-block-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}
.news-article-popup-text-block p,
.article-news-text-block-wrap p {
    margin-bottom: 20px;
}
.article-news-text-block-wrap h3 {
    margin: 0;
}
.news-article-title-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}
.news-article-title-wrap h1 {
    margin: 0 0 20px 0;
}
.news-article-close-btn-wrap {
    position: absolute;
    width: 100%;
    top: 2%;
    right: 2%;
}
.news-article-popup-body-close-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.news-article-popup-body-close-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.news-article-popup-body-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 14px;
    max-width: 150px;
    width: 150px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    min-height: 14px;
    border-radius: 2px;
}
.news-article-date-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
}
.article-news-video-block-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}
.article-news-video-block-wrap video {
    max-width: 100%;
    overflow: hidden;
}
.article-news-video-block-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.article-news-video-block-item.video {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    max-width: 50%;
    justify-content: center;
}
.article-news-video-block-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    max-width: 50%;
    justify-content: center;
}
.article-news-video-block-item.video video {
    max-width: 400px;
}
.article-news-video-block-item p {
    margin: 0;
}
.article-news-link-block-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}
.article-news-link-block-title {
    color: #00458B;
}
.article-news-link-block-links-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}
.article-news-link-block-links-wrap p {
    margin: 0 0 10px 0;
}