.news-preview-main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 500px;
}
.news-preview-main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
}
.news-preview-main-asside-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
}
.news-preview-main-item-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    min-height: 300px;
    max-height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
}
.news-preview-main-item-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    max-width: 700px;
    padding: 20px;
}
.news-preview-main-item-content-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-height: 70px;
    overflow: hidden;
}
.news-preview-main-item-content-description p {
    margin: 0;
}
.news-preview-main-item-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
}
.news-preview-main-item-img img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 0 10px 10px 0;
    filter: brightness(0.8)
}
.news-preview-main-item-img img:hover {
    filter: none;
    transition: all ease-in-out 0.3s;
}
.news-preview-show-more-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3FD2C7;
    color: white;
    border-radius: 10px;
    min-height: 40px;
    cursor: pointer;
}
.news-preview-show-more-wrap::after {
    content: '';
    position: absolute;
    bottom:-15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top:15px solid #3FD2C7;
}
.news-preview-show-more-wrap a {
    width: 100%;
    min-width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}
.news-preview-show-more-wrap:hover {
    background-color: #00458B;
    color: white;
    max-width: 100%;
}
.news-preview-show-more-wrap:hover::after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top:15px solid #00458B;
}
.news-company-social-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.news-company-social-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.news-company-social-item,
.news-company-currency-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}
.news-company-social-item img,
.news-company-currency-item img {
    margin-right: 10px;
}
.news-company-form-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
.news-company-form-wrap form {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}
.news-company-form from h3 {
    margin: 0;
}
.news-company-form-item-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}
.news-company-form label {
    color: #00458B;
    font-family: gothampro bold;
    font-size: 18px;
    cursor: pointer;
}
.news-company-form-item-wrap input {
    max-width: 200px;
    min-height: 30px;
}
.news-company-form-item-wrap textarea {
    min-height: 100px;
}
.news-company-form-send-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.news-company-form-send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 14px;
    max-width: 150px;
    width: 150px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    min-height: 14px;
    border-radius: 2px;
}
.news-company-form-send-btn:hover,
.news-article-popup-body-close-btn:hover {
    background-color: #00458B;
    transition: background .4s ease;
    color: white;
    max-width: 100%;
}
.news-company-currency-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.news-company-currency-wrap h3 {
    margin: 0;
}
.news-company-form-happy-state-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    min-height: 400px;
    background-color: white;
    border: 1px solid #00458B;
    border-radius: 10px;
    padding: 20px;
}
.news-company-form-happy-state-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
}
.news-company-form-happy-state-close-btn-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    min-height: 40px;
}
.news-company-form-happy-state-close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: 0;
    background-image: url('../../img/close_popup.svg');
}
.news-company-form-happy-state-description {
    text-align: center;
}
.news-article-popup-background {
    background-color: rgba(0, 0, 0, .8);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
}
.news-article-popup-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 75vw;
    min-height: 96vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    z-index: 5;
    animation-duration: 0.5s;
    animation-name: default_ani;
}
.news-article-popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    min-height: 600px;
    max-height: 800px;
    margin-top: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.news-article-banner-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.news-article-banner-wrap img {
    width: 800px;
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.news-article-popup-text-block,
.article-news-text-block-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}
.news-article-popup-text-block p,
.article-news-text-block-wrap p {
    margin: 0 0 20px 0;
}
.article-news-text-block-wrap h3 {
    margin: 0;
}
.news-article-title-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}
.news-article-title-wrap h1 {
    margin: 0 0 20px 0;
}
.news-article-close-btn-wrap {
    position: absolute;
    width: 100%;
    top: 2%;
    right: 2%;
}
.news-article-popup-body-close-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.news-article-popup-body-close-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.news-article-popup-body-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 14px;
    max-width: 150px;
    width: 150px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    min-height: 14px;
    border-radius: 2px;
}
.news-article-date-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
}
.empty-news-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.news-preview-main-item-content-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.news-preview-main-item-content-title h4 {
    width: 100%;
    margin: 0 0 10px 0;
}
.news-preview-main-item-content-title h3 {
    font-size: 20px;
    width: 100%;
}
.news-preview-main-item-content-title a {
    text-decoration: none;
}
.news-preview-main-item-content-title a:hover,
.news-preview-main-item-btn a:hover {
    color: #3FD2C7;
    text-decoration: underline;
}
.article-news-video-block-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}
.article-news-video-block-wrap video {
    max-width: 100%;
    overflow: hidden;
}
.article-news-video-block-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.article-news-video-block-item.video {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    max-width: 50%;
    justify-content: center;
}
.article-news-video-block-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    max-width: 50%;
    justify-content: center;
}
.article-news-video-block-item.video video {
    max-width: 400px;
}
.article-news-video-block-item p {
    margin: 0;
}
.article-news-link-block-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}
.article-news-link-block-title {
    color: #00458B;
}
.article-news-link-block-links-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}
.article-news-link-block-links-wrap p {
    margin: 0 0 10px 0;
}
@media (max-width: 1500px)  {
    .news-article-popup-body {
        max-height: 600px;
        min-height: 600px;
    }
}
@media (max-width: 1500px)  {
    .news-article-popup-wrap {
        width: 90%;
    }
}

@media (max-width: 1350px)  {
    .news-preview-main-asside-wrap {
        margin-top: 80px;
    }
}
@media (max-width: 1350px)  {
    .news-preview-main-item-row{
        max-width: 500px;
        max-height: 400px;
    }
}
@media (max-width: 1350px)  {
    .news-preview-main-asside-wrap {
        flex-direction: column;
        max-width: 350px;
        width: 30%;
    }
}
@media (max-width: 1350px)  {
    .news-preview-main-content {
        flex-direction: column;
        max-width: 700px;
        width: 80%;
    }
}
@media (max-width: 1350px)  {
    .news-preview-main-item-content {
        flex-direction: column;
        max-width: 50%;
        width: 700px;
    }
}

@media (max-width: 1350px)  {
    .news-preview-main-asside-wrap {
        margin-top: 0;
        max-width: 300px;
        width: 25%;
    }
}
@media (max-width: 1350px)  {
    .news-company-social-wrap,
    .news-company-currency-wrap,
    .news-company-form-wrap {
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 1350px)  {
    .news-preview-main-item-row {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1150px)  {
    .news-preview-main-row,
    .news-preview-main-content {
        width: 95%;
        max-width: 900px;
    }
}
@media (max-width: 1150px)  {
    .news-preview-main-asside-wrap {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        margin-top: 80px;
        justify-content: space-between;
    }
}
@media (max-width: 1150px)  {
    .news-company-social-wrap,
    .news-company-currency-wrap,
    .news-company-form-wrap {
        width: 33%;
    }
}
@media (max-width: 1150px)  {
    .news-company-social-wrap {
        max-width: 200px;
    }
}
@media (max-width: 1150px)  {
    .news-company-currency-wrap {
        width: 33%;
        max-width: 300px;
    }
}
@media (max-width: 1150px)  {
    .news-company-form {
        max-width: 280px;
    }
}
@media (max-width: 1150px)  {
    .news-company-form,
    .news-company-form-happy-state-popup-wrap {
        max-width: 250px;
    }
}

@media (max-width: 950px)  {
    .news-article-popup-wrap {
        width: 90%;
        padding: 0 20px;
        left: 50%;
        top: 50%;
    }
}

@media (max-width: 950px)  {
    .news-preview-main-content {
        width: 50%;
        order: 1;
    }
}

@media (max-width: 950px)  {
    .news-preview-main-item-content {
        width: 100%;
        max-width: 900px;
        order: 2;
    }
}

@media (max-width: 950px)  {
    .news-preview-main-item-img {
        order: 1;
    }
}
@media (max-width: 950px)  {
    .news-preview-main-item-img img {
        border-radius: 10px;
    }
}

@media (max-width: 950px)  {
    .news-preview-main-item-row {
        max-height: 800px;
        max-width: 500px;
        justify-content: center;
    }
}
@media (max-width: 950px)  {
    .news-preview-main-asside-wrap {
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        margin: 0;
        justify-content: flex-start;
        order: 1;
    }
}
@media (max-width: 950px)  {
    .news-company-social-wrap,
    .news-company-currency-wrap,
    .news-company-form-wrap {
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }
}
@media (max-width: 750px)  {
    .news-preview-main-row {
        width: 100%;
        max-width: 750px;
        justify-content: center;
    }
}
@media (max-width: 750px)  {
    .news-preview-main-content {
        width: 100%;
        max-width: 500px;
        margin-bottom: 40px;
    }
}
@media (max-width: 600px)  {
    .news-preview-main-content {
        width: 100%;
        max-width: 300px;
    }
}
@media (max-width: 600px)  {
    .news-preview-main-asside-wrap {
        width: 100%;
        max-width: 300px;
    }
}
