.about-company-prezentation-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.about-company-text-content-wrap,
.about-company-video-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    max-width: 50%;
}
.about-company-video-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.about-company-video-wrap video {
    max-width: 100%;
    min-height: 400px;
    object-fit: cover;
}
.about-company-icons-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.about-company-icon-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    max-width: 300px;
    margin-bottom: 20px;
}
.about-company-icon {
    display: flex;
    flex-wrap: wrap;
    max-width: 80px;
    margin-right: 10px;
}
.about-company-text {
    display: flex;
    flex-wrap: wrap;
}
.about-company-prezentation-btn-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.about-company-prezentation-btn,
.about-company-production-consult-btn,
.about-page-production-req-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    padding: 0 40px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    background: #3FD2C7;
    padding: 0 40px;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}
.about-company-title-wrap {
    margin-bottom: 20px;
}
.about-company-title-wrap h2 {
    font-size: 32px;
    margin: 0;
}
.about-company-prezentation-btn:hover,
.about-company-production-consult-btn:hover,
.about-page-production-req-btn:hover {
    background-color: #00458B;
    transition: background .4s ease;
    color: white;
}

/* prodTypes */
.about-company-production-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.about-company-production-goods-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 57%;
    margin-bottom: 20px;
}
.about-company-production-good-item-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    max-width: 50%;
    border-radius: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}
.about-company-production-good-item-icon {
    display: flex;
    flex-direction: column;
    width: 60px;
    max-width: 50%;
}
.about-company-production-good-item-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    max-width: 70%;
}
.about-company-production-photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40.4%;
}
.about-company-production-photo-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 100%;
}
.about-company-production-photo img {
    max-width: 100%;
    border-radius: 10px;
}
.about-company-production-consult-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about-company-production-title-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.about-company-production-title-wrap h2 {
    font-size: 34px;
    margin: 0 0 20px 0;
}
/* prod_content */
.about-page-production-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}
.about-page-short-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    height: 100%;
}
.about-page-short-text-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}
.about-page-short-content-wrap img {
    object-fit: contain;
    border-radius: 10px;
}
.about-page-large-content-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    max-width: 50%;
}
.about-page-large-content-wrap h3 {
    font-size: 32px;
    margin: 0 0 20px 0;
}
.about-page-production-legal-info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    align-items: baseline;
    justify-content: space-between;
}
.about-page-production-legal-title,
.about-page-production-legal-download {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}
.about-page-production-tab-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    height: 600px;
    max-height:600px;
}
.about-page-production-tab-links-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    max-height: 100px;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #00458B;
    color: white;
    border-radius: 10px 10px 0 0;
}
.about-page-production-tab-link-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 25%;
    max-width: 25%;
    cursor: pointer;
}
.about-page-production-tab-link-wrap.tab-active {
    background-color: #3FD2C7;
}
.about-page-production-tab-link-wrap a {
    color:white;
    padding: 20px;
    text-decoration: none;
}
.about-page-production-tab-link-wrap:hover {
    transition: background 0.3s;
    background-color: #3FD2C7;
}
.about-page-production-tab-link-wrap:first-child:hover,
.about-page-production-tab-link-wrap.tab-active:first-child {
    border-radius: 10px 0 0 0;
}
.about-page-production-tab-link-wrap:last-child:hover,
.about-page-production-tab-link-wrap.tab-active:last-child {
    border-radius: 0 10px 0 0;
}
.about-page-production-tab-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 400px;
}
.about-page-production-tab-coop-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
}
.about-page-tab-cooperation-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}
.about-page-tab-cooperation-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 40%;
    min-width: 200px;
    max-width: 50%;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}
.about-page-tab-cooperation-item h4 {
    margin: 0 0 20px 0;
}
.about-page-production-reviews-logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 200px;
    max-width: 800px;
}
.about-page-production-review-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 25%;
    width: 25%;
}
.about-page-production-review-item img {
    max-width: 150px;
    padding: 10px;
}
.about-page-production-review-item img:hover {
    transform: scale(1.05);
    transition: transform .2s ease-in;
}